body {
    padding-left:100px;
    padding-right:100px;

}

.container-fluid {
    border-bottom:0px;
}

.nabvar-brand{
    padding-left:60px;
}

.log {
    padding: 15px;
    font-size: larger;
    font-weight: bold;
    color: darkblue;
    height: 120px;
   
}
.log a{
    text-align:center;
}
.log a img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}






#form {
    height: 60%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    padding: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    font-weight:400;
    font-size:larger;
}

h4{
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.success {
    background-color: lightgreen;
    border-color: darkgreen;
    border-width: 1px;
    width: 60%;
    margin:50px;
    margin-right: auto;
    margin-left:auto;
    padding:30px;
    
}
dl{
    padding:30px;
}

.fail {
    background-color: red;
    border-width: 1px;
    width: 60%;
    margin: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
}

