
@{
    ViewData["Title"] = "error";
    Layout = "~/Views/Customer/_LayoutCustomer.cshtml";
}

<br>
<div class="fail">
    <h4>OOPS !!! Transaction Failed</h4>
    <br />
    <p>Please try to fix the error and try again Later</p>
    @ViewData["error"]
</div>

