@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Transfer";
    Layout = "~/Views/Customer/_LayoutCustomer.cshtml";
}


<hr />
<h4><i>Transfer Money</i></h4>
<hr />

<div id="form">

    <form action="/Customer/Transfer" method="post" id="write" onsubmit="return validateform()" name="transferform">

        <div class="form-group row">
            <label for="accountno" class="col-sm-4 offset-md-1 col-form-label">Account Number</label>
            <div class="col-sm-6">
                <input type="text" readonly class="form-control-plaintext" id="accountno" value="@Context.Session.GetString("accountNumber")" name="accountNumber">
            </div>
        </div>

        <div class="form-group row">
            <label for="toacc" class="col-sm-4 offset-md-1 col-form-label">Receipent's Account Number</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="toacc" placeholder="IBSXXXXX" name="toAccountNumber">
                <p id="error_toaccno" style="color:red;font-style:italic"></p>
            </div>
        </div>

        <div class="form-group row">
            <label for="amount" class="col-sm-4 offset-md-1 col-form-label">Amount</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" id="amount" placeholder="1000" name="amount">
                <p id="error_amount" style="color:red;font-style:italic"></p>
            </div>
        </div>

        <div id="bottom">
            <input class="btn btn-outline-success btn-block" role="button" type="submit" name="submit" value="Transfer Money" />
            <input class="btn btn-outline-primary btn-block" role="button" type="reset" value="Clear">
        </div>
    </form>

</div>


<script>
    function validateform() {
        var amount = document.transferform.amount.value;
        var toaccno = document.transferform.toAccountNumber.value;

        if (amount == "") {
            document.getElementById("error_amount").innerHTML = "Please enter amount";
            return false;
        }
        if (amount < 0) {
            document.getElementById("error_amount").innerHTML = "Amount should not be negtive";
            return false;
        }
        else if (amount == 0) {
            document.getElementById("error_amount").innerHTML = "Please enter amount greater than 0";
            return false;
        }

        if (toaccno == "") {
            document.getElementById("error_toaccno").innerHTML = "Please enter Account Number";
            return false;
        }
    }
</script>
