@{
    ViewData["Title"] = "Home Page";
}

<a href="~/Authentication/RegisterAdmin"><p>Register as Admin</p></a>
<a href="~/Authentication/RegisterCustomer"><p>Register as Customer</p></a>
<a href="~/Authentication/Login"><p>Login</p></a>

