@model IBS.EntitiesLayer.Models.Login

@{
    ViewData["Title"] = "Login";
}
<div class="row bg-light  align-items-center" style="height:50px">
    <div class="col-md-3"><span id="time"></span></div>
    <div class="col-md-6"><marquee style="color:red">Online Internet Banking Solutions Launches a new feature to Update Password.</marquee></div>
</div>
<p>@ViewData["error"]</p>
<p>@ViewData["message"]</p>
<p>@ViewData["info"]</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>

        <a href="~/Authentication/RegisterAdmin"><p>Register as Admin</p></a>
        <a href="~/Authentication/RegisterCustomer"><p>Register as Customer</p></a>

    </div>
</div>
