
@{
    ViewData["Title"] = "Index";
   
}

<h1>Index</h1>

<div class="container">


    <nav class="navbar navbar-expand-sm navbar-light bg-white">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 ">
            <a class="navbar-brand" href="#">
                <img src="~/images/logo.jpg" alt="logo" height="150" width="230">
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bnn">
            Internet Banking Solutions
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse w-100 order-3" id="bnn">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"> Whats New  |  </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"> About Online IBS  |  </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"> Logout <img src="~/images/logout.png" alt="logo" height="30" width="30"></a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="row bg-light  align-items-center" style="height:50px">
        <div class="col-md-3"><span id="time"></span></div>
        <div class="col-md-6"><marquee style="color:red">Online Internet Banking Solutions Launches a new feature to Update Password.</marquee></div>
        <div class="col-md-3"><span>Welcome  @ViewBag.accno </span></div>
    </div>
</div>

<div>
    <a href="">View All Transactactions</a>
    <br />
    <a href="">View All Users</a><br />
    <a href="">Calculate Interest</a>
</div>