
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to Admin Page</h1>

<a href="~/Admin/ViewNewCustomers"><p>View All New Registered users</p></a>
<a href=""><p>Register as Customer</p></a>
<a href=""><p>Login</p></a>


