@model IBS.EntitiesLayer.Models.Adminwork

@{
    ViewData["Title"] = "CalculateInterest";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<div class="success">
    <h4>Interest Calculation Successful !!!!!</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Task ID : 
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WorkId)
        </dd>
        <dt class="col-sm-3">
            ADMIN ID : 
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-3">
            TIME : 
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WorkTime)
        </dd>
        <dt class="col-sm-3">
            TASK : 
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WorkType)
        </dd>
    </dl>
</div>
