@model IBS.EntitiesLayer.Models.UpdatePassword
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "UpdatePassword";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<hr />
<h4>Update Password</h4>
<hr />
@if (ViewData["passworderror"] != null)
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>@ViewData["passworderror"]</strong>
    </div>
}
<div id="form">
    <form asp-action="UpdatePassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName" class="class=" col-sm-4 offset-md-1 col-form-label""></label>
            <input asp-for="UserName" class="form-control" value=@Context.Session.GetString("username") readonly />
        </div>
        <div class="form-group">
            <label asp-for="CurrentPassword" class="control-label"></label>
            <input asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="control-label"></label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input class="btn btn-outline-success" role="button" type="submit" name="submit" value="Submit" style="width:49%" />
            <input class="btn btn-outline-primary" role="button" type="reset" value="Clear" style="width:50%">
        </div>
    </form>
</div>

