#loginrow {
    background: rgba(188,210,224,1);
    background: -moz-linear-gradient(left, rgba(188,210,224,1) 0%, rgba(255,255,255,0.99) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(188,210,224,1)), color-stop(100%, rgba(255,255,255,0.99)));
    background: -webkit-linear-gradient(left, rgba(188,210,224,1) 0%, rgba(255,255,255,0.99) 100%);
    background: -o-linear-gradient(left, rgba(188,210,224,1) 0%, rgba(255,255,255,0.99) 100%);
    background: -ms-linear-gradient(left, rgba(188,210,224,1) 0%, rgba(255,255,255,0.99) 100%);
    background: linear-gradient(to right, rgba(188,210,224,1) 0%, rgba(255,255,255,0.99) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcd2e0', endColorstr='#ffffff', GradientType=1 );
}






#loginbox {
    border: 1px solid;
    padding: 50px 60px;
    height: auto;
    -webkit-box-shadow: -1px 4px 38px 23px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 38px 23px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 38px 23px rgba(0,0,0,0.75);
    border-radius: 103px 0px 103px 0px;
    -moz-border-radius: 103px 0px 103px 0px;
    -webkit-border-radius: 103px 0px 103px 0px;
    border: 0px hidden #000000;
}

#firstcontainer {
    background: url('/images/t3.png') no-repeat rgba(76, 175, 80, 0.1);
    border-radius: 103px 0px 103px 0px;
    -moz-border-radius: 103px 0px 103px 0px;
    -webkit-border-radius: 103px 0px 103px 0px;
    border: 0px hidden #000000;
    background-size: cover;
    background-repeat: no-repeat;
    stroke-opacity: 0.3;
}

.form {
    height: 60px;
}

#inputusername {
}

#inputpassword {
}

fontuser {
    position: relative;
}

.fontuser i {
    position: absolute;
    color: gray;
}

.fontpassword {
    position: relative;
}

.fontpassword i {
        position: absolute;
        color: gray;
 }

#demo {
    height: 70px;
    
}

#body {
    background: url(http://api.thumbr.it/whitenoise-361x370.png?background=4c828fff&noise=626262&density=54&opacity=69)
}

body{
    background-color:white;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 6px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: green;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }