@model IBS.EntitiesLayer.Models.RegisterCustomer

@{
    ViewData["Title"] = "RegisterCustomer";
    Layout = "~/Views/Authentication/_LayoutHome.cshtml";

}
@*<h3>Registration for Customers</h3>*@

<div class="content">
    <legend>
        <center>
            <h3>Registration for Customers</h3>
        </center>
    </legend>

    <center>
        <div class="col-md-10">
            <form asp-action="RegisterCustomer">




                <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" placeholder="Enter First Name" required />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" placeholder="Enter Last Name" required />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="UserName" class="control-label"> </label>
                    @*<i class="fa fa-user icon"> </i>*@
                    <input asp-for="UserName" type="email" class="form-control" placeholder="Enter Email ID(abcd@xyz.com)" required minlength="4" />

                    <span asp-validation-for="UserName" class="text-danger"></span>

                </div>


                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    @*<select id="num">
                        <option>+ 91</option>
                        <option>+ 92</option>
                        <option>+ 93</option>
                        <option>+ 94</option>*@
                    <!--</select>-->
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Enter Phone No(10-Digits)" required maxlength="10" minlength="10" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>





                <div class="form-group">
                    <label asp-for="Dob" class="control-label"></label>
                    <input asp-for="Dob" class="form-control" required />
                    <span asp-validation-for="Dob" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Gender" class="control-label" required></label><br />

                    <label class="container">
                        <input type="radio" name="radio"> Male&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="radio"> Female
                        <span class="checkmark"></span>
                    </label>
                    <span asp-validation-for="Gender" class="text-danger"></span>

                </div>




                <div class="form-group">
                    <label asp-for="FathersName" class="control-label"></label>
                    <input asp-for="FathersName" class="form-control" placeholder="Enter Father's Name" required />
                    <span asp-validation-for="FathersName" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="MothersName" class="control-label"></label>
                    <input asp-for="MothersName" class="form-control" placeholder="Enter Mother's Name" required />
                    <span asp-validation-for="MothersName" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" placeholder="Enter your Address" required />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label asp-for="Pincode" class="control-label"></label>
                    <input asp-for="Pincode" class="form-control" placeholder="Enter pincode (6-Digits)" required maxlength="6" minlength="6" />
                    <span asp-validation-for="Pincode" class="text-danger"></span>
                </div>


                <button onclick="nomineeform()">Add Nominee Details</button>

                <div id="nominee" style="display:none">
                    <div class="form-group">
                        <label asp-for="NomineeName" class="control-label"></label>
                        <input asp-for="NomineeName" class="form-control" placeholder="Enter Nominee Name" required />
                        <span asp-validation-for="NomineeName" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="NomineeRelation" class="control-label"></label>
                        <input asp-for="NomineeRelation" class="form-control" placeholder="Enter Nominee Relation" required />
                        <span asp-validation-for="NomineeRelation" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="NomineeAge" class="control-label"></label>
                        <input asp-for="NomineeAge" class="form-control" placeholder="Enter Nominee Age" required />
                        <span asp-validation-for="NomineeAge" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="NomineeGender" class="control-label" required></label><br />

                        <label class="container">
                            <input type="radio" name="radio"> Male&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="radio"> Female
                            <span class="checkmark"></span>
                        </label>

                        <span asp-validation-for="NomineeGender" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="NomineeMobileNumber" class="control-label"></label>
                        @*<select id="num">
                                <option>+ 91</option>
                                <option>+ 92</option>
                                <option>+ 93</option>
                                <option>+ 94</option>
                            </select>*@
                        <input asp-for="NomineeMobileNumber" class="form-control" placeholder="Enter Phone No(10-Digits)" required maxlength="10" minlength="10" />
                        <span asp-validation-for="NomineeMobileNumber" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="NomineeAddress" class="control-label"></label>
                        <input asp-for="NomineeAddress" class="form-control" placeholder="Enter Nominee Address" required />
                        <span asp-validation-for="NomineeAddress" class="text-danger"></span>
                    </div>
                </div>



                <div class="form-group">
                    <label asp-for="AccountType" class="control-label" required></label><br />
                    @*<input asp-for="AccountType" class="form-control" />*@
                    <span asp-validation-for="AccountType" class="text-danger"></span>
                    <label class="container">
                        <input type="radio" name="radio"> Savings Account&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="radio"> Fixed Account
                        <span class="checkmark"></span>
                    </label>
                </div>


                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" required placeholder="Enter Password(max 8 characters)" maxlength="8" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>



                <div class="create-register">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>



            </form>

        </div>
    </center>
    <br>
    <hr />
</div>



<script>
    function nomineeform() {
        var x = document.getElementById("nominee");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


